.root {
    -fx-background-image: url("desk.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-font-weight: bold;
}

#welcomeText{
    -fx-font-family: "Montserrat";
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: "black";
}